// Place all the styles related to the Cleanings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-in-plus {
	width: 50px;
}

.colinplus {
	font-size: 150%;
	color: green;
}

.col-fio {
	width: 300px;
}

.col-date {
	width: 200px;
}

.minus-red {
	color: red;
}

.plus-green {
	color: green;
}
